@import "config";
@import "utilities";
@import "mobile";
@import "media";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Dosis", sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: $dark-color;
}
ul {
  list-style: none;
}
h2,
h3 {
  text-transform: uppercase;
}
img {
  width: 100%;
}

// mobile nav
@media (min-width: 500px) {
  #mobile-nav {
    display: none;
  }

  .header-bottom-mobile {
    display: none;
  }
}

// header-home

#header {
  &-home {
    width: 100%;
    height: 100vh;
  }
  &-inner {
    width: 100%;
    height: 5rem;
    margin-bottom: 2px solid $third-color;
  }
}

#main-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid $primary-color;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  li a {
    text-transform: uppercase;
    border-bottom: 2px transparent solid;
    padding-bottom: 0.3rem;
    transition: border-color 0.3s;
    font-weight: bold;
    color: black;
    opacity: 0.9;
    letter-spacing: 2px;

    &:hover {
      border-color: $dark-color;
    }
    &.current {
      border-color: $dark-color;
    }
  }

  .logo {
    font-size: 35px;
    // padding-top: 10px;
    color: black;
    font-family: "Cinzel", serif;
    font-weight: 500;
    letter-spacing: 2px;

    a {
      text-decoration: none;
    }

    .fas {
      border: 1px solid #333;
      background: #333;
      color: #fff;
      border-radius: 50%;
      padding: 0.5rem;
    }
  }
}

// Bootstrap nav control 
.navbar{ 
  .nav-link{ 
    text-decoration:none; 
  }
  }

// Header content
.header-content {
  background: url(../img/jungle1.jpg) no-repeat center center/cover;
  text-align: center;
  position: relative;
  color: #fff;
  z-index: 10;
  height: 80%;

  .header-content * {
    z-index: 10;
  }

  h2 {
    font-size: 60px;
    margin-bottom: 20px;
    letter-spacing: 0.5rem;
  }
  h4 {
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
  h3 {
    margin: 40px;
    letter-spacing: 2px;
  }
  .heading {
    padding: 5px;
  }
}
// cotent top
.content-top {
  letter-spacing: 2rem;
  line-height: 2rem;
 
}

// Overlay

.header-content-overlay {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  padding-top: 80px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.header-content * {
  z-index: 10;
}

// Header bottom
.header-bottom {
  height: 100%;
  .bottom-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.3rem;

    .bottom {
      height: 100%;
      color: $dark-color;
      text-align: center;
      border-bottom:1px solid black;
      box-shadow: 2px 2px 2px $medium-color;

      &:hover {
        color: $secondary-color;
      }
      h3 {
        letter-spacing: 2px;
        font-size: 23px;
      }

      .fas {
        margin-bottom: 10px;
        -webkit-text-stroke: 1px #fff;
      }
      img {
        height: 200px;
        width: 200px;
        object-fit: cover;
      }
    }
  }
}
// home a
#home {
  &-a {
    height: 100%;
    .flex-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap:.5rem; 
    }
    .item-1 {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity:0.9;
      }
    }
    .item-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

    }
  }
  //   Home b
  &-b {
    height: 100%;
    .card-wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0.5rem;

      .card {
        position: relative;
        overflow: hidden;

        &-content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        &-heading {
          text-align: center;
          align-items: center;
          font-weight: bold;
          font-size: 28px;
          color: #fff;
          z-index: 10;

          &-btn {
            display: inline-block;
            padding: 4px 13px;
            border: 1px solid #fff;
            background-color: transparent;
            color: #fff;
            z-index: 10;

            &:hover {
              background: $light-color;
              color: #333;
            }
          }
        }
      }
    }

    .jungle {
      h4 {
        padding: 20px 0;

        letter-spacing: .3rem;
        line-height:.5rem;
      }    
      h2{ 
        letter-spacing: 2rem;
        line-height:2rme;
      }
    }
  }
  // home c
  &-c {
    .love-punch {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
    }
  }
}

// About a
#about {
  &-a {
    .about-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;

      .about-img {
        position: relative;
      }
      .fas {
        position: absolute;
        top: 15%;
        left: 26%;
        -webkit-text-stroke: 1px transparent;
      }

      .about-content {
        padding: 10px;
        text-align: justify;
      }
    }
    .stars {
      padding: 1rem;
      letter-spacing: 1rem;
    }
  }

  &-b {
    .catering-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;

      .content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;

        p {
          margin-bottom: 20px;
        }
        h4 {
          margin-bottom: 20px;
        }
        h3 {
          margin-bottom: 20px;
        }
      }
      .content-right {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &-c {
    .catering-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;

      .content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 10px;
        p {
          margin-bottom: 20px;
        }
        span {
          color: $secondary-color;
        }
      }
      .content-right {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &-d {
    .stars {
      padding: 10px;
      letter-spacing: 1rem;
      color: #fff;

      p {
        font-size: 30px;
      }
    }
  }
}

// Menu
#menu {
  &-a {
    .jungle-menu {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap:1rem;
      text-align:justify;
        }

        .jungle-menu-3 { 
          margin-left:200px;
        }
  }
}

.pasta-life {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border:1px solid #ccc;
}

// Menu down meat/veggies & Seafood
.menu-down {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}

// Menu showcase

.carousel-item { 
  height: 500px;

}
.carousel-image-1{ 
  background:url(../img/jungle7.jpg) no-repeat center center/cover; 
  background-size: cover;
}
.carousel-image-2{ 
  background:url(../img/jungle10.jpg) no-repeat center center/cover; 

  object-fit: cover;
}
.carousel-image-3{ 
  background:url(../img/jungle2.jpg) no-repeat center center/cover; 
  background-size: cover;
}
.carousel-image-4{ 
  background:url(../img/jungle11.jpg) no-repeat center center/cover; 
  background-size: cover;
}
.carousel-image-5{ 
  background:url(../img/jungle14.jpg) no-repeat center center/cover; 
  background-size: cover;
}

// Service a

#service {
  height: 100%;
  &-a {
    .service-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0.5rem;

      .service-content {
        border: 1px solid black;
        padding: 5px;
        background: $medium-color;
        color: #fff;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0.9;
        }
      }
      .service-title {
        text-align: center;
        margin: 20px 0;
        font-weight: 500;
        display: inline-block;
        box-shadow: 1px 1px 5px $secondary-color;
        // background: $primary-color;
        padding: 7px;
        font-size: 20px;

        &:hover {
          background: $secondary-color;
          color: white;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .service-logo {
      height: 400px;
      width: 100%;
      object-fit: cover;
    }
    .logo-title {
      font-size: 3rem;
    }
  }
  &-b {
    .row {
      color: #fff;
      border-bottom: 1px solid #fff;
      p {
        margin: 20px 0;
        
      }

      a { 
       
       text-decoration: underline;
      }
    }
  }
}

// Contact
#contact {
  &-a {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      //  overflow:hidden;
    }

    .col-1 {
      width: 100%;
      height: 100%;
    }

    .col-2 {
      .fas {
        border: 1px solid $medium-color;
        padding: 6.5px;
        background: $medium-color;
      }
      .form-group {
        margin-bottom: 20px;
      }
      h3 {
        margin-bottom: 20px;
      }
      .form-control {
        margin-bottom: 10px;
        display: flex;

        input {
          padding: 10px;
          width: 100%;
          border: none;
          background: $medium-color;
          outline: none;
        }
        textarea {
          height: 150px;
          width: 100%;
          padding: 4px;
          border: none;
          background: $medium-color;
          outline: none;
        }
      }
    }
  }
  &-b {
    .contact-bottom {
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      gap: 1rem;
      border-bottom: 1px solid white;
      padding: 50px 0;

      a {
        text-decoration: underline;
        color: #fff;
      }
      a:hover {
        color: $secondary-color;
      }
      .fas {
        color: white;
        border: 1px solid #ccc;
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 50%;

        &:hover {
          background: $secondary-color;
        }
      }
    }
  }
}
// Footer
#main-footer {
  height: 7rem;
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;

    .social {
      padding: 1rem;

      .fab {
        margin-right: 1rem;
        border: 1px solid $light-color;
        padding: 0.5rem;
        border-radius: 50%;
        color: #fff;

        &:hover {
          color: $main-color;
        }
      }
    }
  }
}